
html {
  font-size: 62.5%; }

body{
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 70vw;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 0 1.6px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

.error-p{
  color: red;
  font-size: 2rem;
}

footer{
color: #8888;
border-top: 1px solid #eeeeee ;
margin-top: 16px;
padding: 1.6rem 0;
}

header{
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
}
h1 {
  font-size: 6.4rem;
  margin-bottom: 1.6;
}

.nav_a{
  columns: #888888;
  margin-right: 3rem;
  text-decoration: none;
  font-size: 3.6rem;
  text-shadow: 0 .2rem rgb(101, 160, 101);
}
.about--img{
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem  rgba(80, 73, 73, 0.162);
}
