<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>{{title}}</title>
  <link rel="icon" href="/img/weather.png">
</head>
<body>
<div class="main-content">

  <header>{{>header}}</header>
  <h1>{{title}}</h1>
  <p> This site was created by Pouyesh Soleimani. It uses. It uses data from Mapbox and weatherstack. </p>
  <img src="./img/1.jpg" alt="Pouyesh">
</div>
  <footer>{{>footer}}</footer>
</body>
</html>